openapi: '3.0.0'
info:
  version: 1.0.0
  title: ScanoRoom API
  license:
    name: MIT
servers:
  - url: https://api.scanoroom.com/v1
paths:
  /scans:
    get:
      summary: List all scans
      operationId: listScans
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of scans
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scans'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a scan
      operationId: createScans
      responses:
        201:
          description: Scan created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /scans/{scanId}:
    get:
      summary: Info for a specific scan
      operationId: showScanById
      parameters:
        - name: scanId
          in: path
          required: true
          description: The id of the scan to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scans'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Scan:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Scans:
      type: array
      items:
        $ref: '#/components/schemas/Scan'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string